a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(3,37,65);
    color: #fff;
    position: sticky;
   }
   .nav-links a {
    color: #fff;
   }

   .logo {
    font-size: 2.5em;
    font-weight: 600;
   }

   .menu {
    display: flex;
    gap: 1em;
    font-size: 20px;
   }
   .menu li:hover {
    background-color: rgb(4, 112, 201);
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
   }
   .menu li {
    padding: 5px 14px;
   }

   #searchText{
    border: 1px solid rgb(0, 11, 68);
    border-radius: 5px;
    width: 120%;
    font-size: 17px;
   }
   #searchButton{
    float: left;
    width: 45%;
    padding: 10px;
    background: rgb(4, 112, 201);
    color: #FFFF;
    font-size: 17px;
    border: 1px solid rgb(0, 11, 68);
    border-radius: 5px;
    cursor: pointer;
   }   